{% extends "base.html.j2" %} {% block title %} 登录 AbbottWu's Blog {% endblock %} {% block main %}
<!-- {% import "bootstrap/wtf.html" as wtf %} -->
<form method="POST">
  <!-- {{ wtf.quick_form(form)}} -->
  {{ form.hidden_tag() }}
  <div class="card">
    <div class="card-block">
      <div class="text-center form-header blue darken-4">
        <h3><i class="fa fa-lock"></i>
          登录</h3>
      </div>

      <div class="md-form form-group">
        <i class="fa fa-envelope prefix"></i>
        <!-- <input type="email" id="form91" class="form-control validate"> -->
        <!-- <label for="form91" data-error="wrong" data-success="right">Type your email</label> -->
        {{ form.email(id="form_email",class="form-control",required="",type="email") }}
        {{ form.email.label(for="form_email")}}
      </div>

      <div class="md-form form-group">
        <i class="fa fa-lock prefix"></i>
        <!-- <input type="password" id="form92" class="form-control validate"> -->
        <!-- <label for="form92" data-error="wrong" data-success="right">Type your password</label> -->
        {{ form.password(id="form_password",class="form-control",required="") }}
        {{ form.password.label(for="form_password") }}
      </div>
      <div class="md-form form-group text-center checkbox">
          {{ form.remember_me(class="checkbox",) }} 使我保持登录
      </div>
      <div class="md-form form-group text-center">
        <!-- <a class="btn btn-primary btn-lg">Login</a> -->
        {{ form.submit(class="btn btn-primary btn-lg") }}
      </div>
      <div class="container">
        <p>新用户？ 请点击这里 <a href="{{ url_for('auth.register') }}">注册</a></p>
      </div>
    </div>
  </div>
</form>

{% endblock %}
