{% extends "base.html.j2" %}
{% block title %} 注册 Abbott's Blog {% endblock %}
{% block main %}
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="mdui-container">
    <div class="mdui-typo-display-2 mdui-m-y-3">注册</div>

    <div class="mdui-textfield mdui-textfield-floating-label">
      <i class="mdui-icon material-icons">email</i>
      {{ form.email.label(class="mdui-textfield-label")}}
      {{ form.email(class="mdui-textfield-input") }}
    </div>

    <div class="mdui-textfield mdui-textfield-floating-label">
      <i class="mdui-icon material-icons">account_circle</i>
      {{ form.username.label(class="mdui-textfield-label")}}
      {{ form.username(class="mdui-textfield-input") }}
    </div>

    <div class="mdui-textfield mdui-textfield-floating-label">
      <i class="mdui-icon material-icons">lock_outline</i>
      {{ form.password.label(class="mdui-textfield-label")}}
      {{ form.password(class="mdui-textfield-input") }}
    </div>

    <div class="mdui-textfield mdui-textfield-floating-label">
      <i class="mdui-icon material-icons">lock</i>
      {{ form.confirm.label(class="mdui-textfield-label")}}
      {{ form.confirm(class="mdui-textfield-input") }}
    </div>

    <div class="mdui-container mdui-m-y-4">
      {{ form.submit(class="mdui-btn mdui-btn-raised mdui-btn-block mdui-color-theme-accent") }}
    </div>

    <div class="mdui-container-fluid mdui-float-right mdui-m-t-2 mdui-m-b-5 mdui-p-b-5">
      <p>老用户？ 请点击这里 <a href="{{ url_for('auth.login') }}">登录</a></p>
    </div>
  </div>

</form>
{% endblock %}
