{% extends "base_with_sidebar.html.j2" %}
{% block title %}404-页面不存在 Abbott's Blog{% endblock %}
{% block main2 %}
<div class='container'>
    {% block massage %}<h1>抱歉，您要找的页面不存在</h1>{% endblock %}
    <br>
    <hr>
    <br>
</div>


<div class="wow fadeIn" data-wow-delay='0.2s'>
  <h2>您可以点击<strong><a href={{ url_for('main.index') }}>这里</a></strong>返回主页</h2>
  <br>
  <br>
</div>

{% endblock %}
