{% extends "base.html.j2" %}
{% block main %}
<div class="row">
  <div class="col-lg-8">
    <div class="wow fadeIn" data-wow-delay="0.2s">
      {% block main2 %}
      {% endblock %}
    </div>
  </div>
  <div class="col-lg-4">
    <div class="widget-wrapper wow fadeIn" data-wow-delay="0.2s">
      <div class="card hoverable ">
        <div class="card-image">
          <div class="view overlay hm-white-slight z-depth-1">
            <img src="{{ url_for('static', filename='img/blog/Python_logo.png')}}" class="img-responsive" alt="">
            <a>
              <div class="mask waves-effect"></div>
            </a>
          </div>
        </div>
        <div class="card-content container">
          <br>
          <h4>Python</h4>
          <hr>
          <p>Python（英国发音：/ˈpaɪθən/ 美国发音：/ˈpaɪθɑːn/），是一种面向对象、直译式的电脑程序语言。
            它包含了一组功能完备的标准库，能够轻松完成很多常见的任务。它的语法简单，与其它大多数程序设计语言
            使用大括号不一样，它使用<strong>缩进</strong>来定义语句块。它经常被当作脚本语言用于处理系统管
            理任务和网络程序编写，然而它也非常适合完成各种高级任务。Python虚拟机本身几乎可以在
            <strong>所有</strong>的操作系统中运行。</p>
          </div>
        </div>
      </div>


    <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
      <div class="card hoverable ">
        <div class="card-image">
          <div class="view overlay hm-white-slight z-depth-1">
            <img src="{{ url_for('static',filename='img/blog/MD.jpg') }}" class="img-responsive" alt="">
            <a>
              <div class="mask waves-effect"></div>
            </a>
          </div>
        </div>
        <div class="card-content container">
          <br>
          <h4>Material Design</h4>
          <hr>
          <p>质感设计（英语：Material Design，又译为材质设计、材料设计），是由Google开发的设计语言 。
            扩展于Google即时的“卡片”设计，材质设计基于网格的布局、响应动画与过渡、填充、深度效果（如光线和阴影）。
            设计师马迪亚斯·杜阿尔特解释说：“与真正的纸张不同，我们的数字材质可以智能地扩大和变形。材质具有实体的表面和边缘。
            接缝和阴影表明组件的含义。“Google指出他们的新设计语言基于纸张和油墨。”</p>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
