 {% extends "base.html.j2" %} {% block title %} 编辑文章 {% endblock %} {% block main %}
<form method="POST" enctype=multipart/form-data>
  {{ form.hidden_tag() }}
  <div class="col-lg-8">
    <h1 class="title">编辑文章</h1>
  </div>
  <hr>
  <div class="col-lg-12 md-form">
    {{ form.main_title(id="main_title",required="") }}
    {{ form.main_title.label(for="main_title") }}
  </div>
  <div class="col-lg-12 md-form">
    {{ form.second_title(id="second_title") }}
    {{ form.second_title.label(for="second_title") }}
  </div>
  <div class="col-lg-12 md-form">
    {{ form.img(id="img") }}
    {{ form.img.label(for="img")}}
  </div>
  <div class="col-lg-12 md-form">
    {{ form.first_look(id="first_look",class="md-textarea materialize-textarea",required="") }}
    {{ form.first_look.label(for="first_look" ) }}
  </div>
  {% block bodyWay %}
  <div class="col-lg-12 md-form">
    {{ form.body(id="form_body",class="input-field md-textarea materialize-textarea",required="") }}
    {{ form.body.label(for="form_body")}}
  </div>
  {% endblock %}
  <br><br>
  <div class="container-fluid" align="right">
    {% if need != None %}      
    <h4>{% block message %}
      或者<a href="{{ url_for('main.upload') }}">点此</a>上传markdown文件
    {% endblock %}</h4>
    {% endif %}
  </div>
  <div class="">
    {{ form.submit(class="btn btn-primary btn-lg") }}
  </div>
</form>
{% endblock %}
