{% macro pagination_widget(pagination, endpoint) %}
  <!-- <nav> -->
<ul class="mdui-pagination">
  <!--左箭头-->
  <li class="{% if not pagination.has_prev %} disabled {% endif %} mdui-ripple">
    <a href="{% if pagination.has_prev %}{{ url_for(endpoint,
        page = pagination.page - 1, **kwargs)}}{% else %}#{% endif %}">
                            <i class="mdui-icon material-icons">keyboard_arrow_left</i>
                            </a>
  </li>
  <!--左箭头-->
  <!--数字-->
  {% for p in pagination.iter_pages(left_edge=2,left_current=1,right_edge=2,right_current=2) %}
    {% if p %}
      {% if p == pagination.page %}
        <li class="mdui-ripple">
          <a href="{{ url_for(endpoint, page = p, **kwargs) }}" class="page-link">{{ p }}</a>
        </li>
      {% else %}
        <li class="mdui-ripple">
          <a href="{{ url_for(endpoint, page = p, **kwargs) }}" class="page-link">{{ p }}</a>
        </li>
      {% endif %}
    {% else %}
    <li class="disabled"><a>...</a></li>
    {% endif %}
  {% endfor %}

  <!--右箭头-->
  <li class="{% if not pagination.has_next %} disabled {% endif %} mdui-ripple">
    <a href="{% if pagination.has_next %}{{ url_for(endpoint,
        page = pagination.page + 1, **kwargs)}}{% else %}#{% endif %}">
                            <i class="mdui-icon material-icons">keyboard_arrow_right</i>
                            </a>
  </li>
  <!--右箭头-->

</ul>
<!-- </nav> -->
{% endmacro %}
