<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href='{{ url_for("static", filename = "css/mdui.min.css") }}'>
  <script src="js/mdui.min.js"></script>
</head>

<body class="mdui-theme-primary-blue">

  <div class="mdui-appbar">
    <div class="mdui-toolbar mdui-color-theme mdui-p-x-5">
      <a href="javascript:;" class="mdui-typo-headline">Blog</a>
      <a href="#" class="mdui-typo-subheading">关于</a>
      <a href="#" class="mdui-typo-subheading">内容</a>
      <div class="mdui-toolbar-spacer"></div>
      <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon material-icons">search</i></a>
      <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon material-icons">refresh</i></a>
      <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-menu=" {target: '#example-attr'} "><i class="mdui-icon material-icons">more_vert</i></a>
      <ul class="mdui-menu " id="example-attr">
        <li class="mdui-menu-item">
          <a href="javascript:;" class="mdui-ripple">Refresh</a>
        </li>
        <li class="mdui-menu-item">
          <a href="javascript:;">Help & feedback</a>
        </li>
        <li class="mdui-menu-item">
          <a href="javascript:;" class="mdui-ripple">Settings</a>
        </li>
        <li class="mdui-divider"></li>
        <li class="mdui-menu-item">
          <a href="javascript:;" class="mdui-ripple">Sign out</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="mdui-row mdui-typo mdui-container mdui-center">
    <div class="mdui-col-lg-8 mdui-col-md-7">
      <div class="mdui-container">
        {% block main %}
        {% endblock %}
      </div>
    </div>
    <div class="mdui-col-lg-4 mdui-col-md-5">
      <br>
      <div class="mdui-card">
        <div class="mdui-card-media">
          <img src="https://drivenlocal.com/wp-content/uploads/2015/10/Material-design.jpg" />
          <div class="mdui-card-media-covered">
            <div class="mdui-card-primary">
              <div class="mdui-card-primary-title">Title</div>
              <div class="mdui-card-primary-subtitle">Subtitle</div>
            </div>
          </div>
        </div>
        <div class="mdui-card-actions">
          <button class="mdui-btn mdui-ripple">action 1</button>
          <button class="mdui-btn mdui-ripple">action 2</button>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br>

  <div class="mdui-p-a-3 mdui-shadow-5 mdui-container-fluid mdui-color-theme">
    <div class="mdui-container mdui-center mdui-row">
      <div class="mdui-col-lg-7 mdui-col-md-6 mdui-col-xs-4">
        <h3>sxu</h3>
        <p>aoenuisiucgniwufsmxcu</p>
      </div>
      <div class="mdui-col-lg-3 mdui-col-md-3 mdui-col-xs-4">
        <ul>
          <li>123</li>
          <li>123</li>
        </ul>
      </div>
      <div class="mdui-col-lg-2 mdui-col-md-3 mdui-col-xs-4">
        <ul>
          <li>123</li>
          <li>123</li>
        </ul>
      </div>
    </div>
  </div>

</body>

</html>
