{% extends "base.html.j2" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Flask-WTF 测试 {% endblock %}

{% block main %}
<!--Form with header-->
<br><br>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="card">
    <div class="card-block">

      <!--Header-->
      <div class="form-header  purple darken-4">
        <h3><i class="fa fa-lock"></i>
              hello,{% if name %}{{ name }}{% else %}stranger{% endif %}</h3>
      </div>

      <!--Body-->
      <div class="md-form">
        <i class="prefix"></i> {{ form.name(id = "form2",class="form-control",required="") }} {{ form.name.label(class="control-label",for = "form2") }}
      </div>

      <div class="text-center">
        <button class="btn btn-deep-purple">Login</button>
      </div>
      <!--/Form with header-->
    </div>
    {% if known %}
      <p>pleased to meet you again</p>
    {% else %}
      <p>happy to meet you</p>
    {% endif %}
  </div>
</form>
{% endblock %}
