{% extends "base.html.j2" %}
{% block title %}AbbottWu's Blog{% endblock %}
{% block main %}
{% import "_macros.html.j2" as macros %}
<!--Main column-->
<div class="row">

  <!--Main column-->
  <div class="col-lg-8">
    <!-- {% if current_user.is_authenticated %}
      <h1>{{current_user.username}}</h1>
    {% else %}
      <h1>stranger</h1>
    {% endif %} -->

    {% for post in posts %}
    <!--Post-->
    <div class="post-wrapper wow fadeIn" data-wow-delay="0.2s">
      <!--Post data-->
      <h1 class="h1-responsive">{{ post.title }}<small class="text-muted">{{ post.second_title }}</small></h1>
      <h5>作者<a href="">{{ post.author.username }}</a>, {{ moment(post.timestamp).fromNow() }}</h5>

      <br>
      {% if post.img %}
      <!--Featured image -->
      <div class="view overlay hm-white-light z-depth-1-half">
        <img src={{ post.img }} class="img-fluid " alt="">
        <a href="{{ url_for('main.post', id=post.id) }}">
          <div class="mask">
          </div>
        </a>
      </div>

      <br>
      {% endif %}

      <!--Post excerpt-->
      <p>{{ post.first_look }}</p>

      <!--"Read more" button-->
      <a href="{{ url_for('main.post', id=post.id) }}" class="btn btn-info">Read more</a>
    </div>
    <br><hr>
    <!--/.Post-->
    {% endfor %}
<!------------------------------------------------------------------------------------->

    <!--分页按钮-->
    {% if pagination%}
    <nav>
      {{ macros.pagination_widget(pagination, 'main.index')}}
    </nav>
    {% endif %}
    <!--/.分页-->

  </div>

  <!--Sidebar-->
  <div class="col-lg-4">

    <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
      <h4>分类:</h4>
      <br>
      <div class="list-group">
        <a href="#" class="list-group-item active">生活节奏</a>
        <a href="#" class="list-group-item">音乐</a>
        <a href="#" class="list-group-item">旅行</a>
        <a href="#" class="list-group-item">时尚</a>
        <a href="#" class="list-group-item">聚会</a>
      </div>
    </div>



    <div class="widget-wrapper wow fadeIn" data-wow-delay="0.6s">
      <h4>订阅我们</h4>
      <br>
      <div class="card">
        <div class="card-block">
          <p><strong>给我们的新文章提建议</strong></p>
          <p>每周我们会发给你本周最重要的新闻</p>
          <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" id="form1" class="form-control">
            <label for="form1">你的名字</label>
          </div>
          <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" id="form2" class="form-control">
            <label for="form2">你的邮箱</label>
          </div>
          <button class="btn btn-info">提交</button>

        </div>
      </div>
    </div>

  </div>
  <!--/.Sidebar-->
</div>
{% endblock %}
