{% extends "base.html.j2" %}
{% block title %}AbbottWu's Blog{% endblock %}
{% block main %}
{% import "_macros.html.j2" as macros %}

<!--Main column-->

    {% for post in posts %}
    <!--Post-->
    <div class="mdui-typo">
      <!--Post data-->
      <h1 class="mdui-p-b-0">{{ post.title }}<small>{{ post.second_title }}</small></h1>
      作者<a href="#">{{ post.author.username }}</a>, {{ moment(post.timestamp).fromNow() }}
      <hr>
      {% if post.img %}
      <!--Featured image -->
      <div class="mdui-container-fluid mdui-ripple">
        <a href="{{ url_for('main.post', id=post.id) }}">
          <img src="{{ post.img }}" class="mdui-img-fluid mdui-hoverable">
        </a>
      </div>

      <br>
      {% endif %}

      <!--Post excerpt-->
      <p>{{ post.first_look }}</p>

      <!--"Read more" button-->
      <a href="{{ url_for('main.post', id=post.id) }}" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">Read more</a>
      {% if current_user == post.author %}
        <a href="{{ url_for('main.edit', id=post.id) }}" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-yellow">Edit post</a>
      {% elif current_user.is_administrator() %}
        <a href="{{ url_for('main.edit', id=post.id) }}" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-purple-a700">Edit post</a>
      {% endif %}
    </div>
    <br><hr>
    <!--/.Post-->
    {% endfor %}

    {% if pagination%}
    <div class="mdui-container-fluid mdui-float-right">
      {{ macros.pagination_widget(pagination, 'main.index')}}
    </div>
    {% endif %}
{% endblock %}
