 {% extends "base.html.j2" %}
 {% block title %}
   {{ post.title }}
 {% endblock %}
 {% block container %}
   <div class="mdui-container mdui-p-t-5">
     <h1>{{ post.title }}</h1><h4>{{ post.second_title }}</h4>
     <hr>
     <div class="mdui-containe-fluid">
       {% if post.body_html %}
          {{ post.body_html | safe }}
       {% else %}
          {{ post.body }}
       {% endif %}
     </div>
   </div>
 {% endblock %}
