 {% extends "base_with_sidebar.html.j2" %}
 {% block title %}
   {{ post.title }}
 {% endblock %}
 {% block main2 %}
   <div class="container">
     <h1>{{ post.title }}</h1><h4>{{ post.second_title }}</h4>
     <hr>
     <div class="post-body">
       {% if post.body_html %}
          {{ post.body_html | safe }}
       {% else %}
          {{ post.body }}
       {% endif %}
     </div>
   </div>
 {% endblock %}
