 {% extends "base_with_sidebar.html.j2" %}
 {% block title %}
   {{ post.title }}
 {% endblock %}
 {% block main2 %}
   <div class="col-lg-12">
     <h1>{{ post.title }}</h1><h3>{{ post.second_title }}</h3>
     <br><hr>
     <p>{{ post.body }}</p>
   </div>
 {% endblock %}
